body {
  min-height: 100vh;
  background: url("../src/Image/patternjpg.jpg") no-repeat;
  background-size: cover;
}
.active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}




