body {
  min-height: 100vh;
  background-color: #E1D38A;;
  margin: 0 auto;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}
.active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}




